.search-form
    margin-top 30px
#inputSearch
	margin:0px
	vertical-align:top
#btnSearch
	display:inline-block
	margin:0px
	vertical-align:top
/*
    for responsive
*/
.search-form
    +below(650px)
        display none
		