h3 Búsquedas guardadas
	ul#savedList.filter-list
h3 Categorías
	ul#categoryList.filter-list
h3 Idioma
	ul#languageList.filter-list
h3 Publicación
	ul#datePubList.filter-list
h3 Presentación
	ul#editionList.filter-list